@import "mixins";

$code-font-size: 14px;

// Force <pre>s to use the current monospace font stack
pre {
  font-family: $mono-font-family;
}

// Code blocks with .nowrap will never be broken into a newline
code.nowrap {
  white-space: nowrap;
}

div.highlighter-rouge div.highlight {
  padding: 0;

  .table-wrapper {
    padding: $sp-4 0;

    pre {
      margin-bottom: 0;
      font-size: $code-font-size !important;
      line-height: $content-line-height;
      // Fixed iOS safari overflow-x
      word-wrap: normal;
    }
  }

  table {
    td pre {
      // Fixed iOS safari overflow-x
      overflow: visible;
      // Fixed iOS safari linenos code break
      word-break: normal;
    }
  }

  // Unselectable line numbers etc
  .gl {
    @include unselectable;
    padding: 0 $sp-2 0 $sp-3;
  }

  .lineno {
    opacity: .35;
    padding-right: .6rem;
    min-width: 2.2rem;
    text-align: right;
  }
}

.highlighter-rouge:not([no-header]) {
  padding-top: $sp-1 !important;
}

// Hide line numbers for default, console, and terminal code snippets
div {
  &[class^="highlighter-rouge"],
  &.nolineno,
  &.language-plaintext.highlighter-rouge,
  &.language-console.highlighter-rouge,
  &.language-shell.highlighter-rouge,
  &.language-terminal.highlighter-rouge {
    .rouge-gutter {
      display: none;
    }

    // Make dollar sign unselectable
    .gp:first-of-type {
      @include unselectable;
      padding: 0 $sp-1 0 $sp-3;

      &~.w {
        @include unselectable;
      }
    }

    // Adjust laft padding since there's no gutter anymore
    td.rouge-code {
      padding-left: $sp-3;
    }
  }
}

// Codeblock header
.code-header {
  @include unselectable;

  $code-header-height: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $code-header-height;

  // Divider
  &~hr {
    margin: $sp-1 0 $sp-1 0;
  }

  // Label
  span {
    @at-root [file] #{&}>i {
      position: relative;
      top: 1px;
      /* center the file icon */
    }

    // Label text
    &::after {
      content: attr(data-label-text);
      font-size: 0.85rem;
      font-weight: 600;
      opacity: .35;
    }
  }
}