@import "codeblock";

$list-inline-padding: .5rem;

// FIXME: temporary fix for search padding (0.4.0rc4 broke it)
.search-result {
  padding: $sp-1 $sp-3;
}

// Make .btn use $link-color as outline
.btn {
  &:focus {
    box-shadow: 0 0 0 3px rgba($link-color, 0.25);
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: 0 0 0 3px rgba($link-color, 0.25);
  }
}

// Make .btn-outline use $link-color as outline
.btn-outline:focus {
  box-shadow: inset 0 0 0 2px $grey-dk-100, 0 0 0 3px rgba($link-color, 0.25);
}

// Change colors for the left-side navigation items
.nav-list {
  .nav-list-item {
    .nav-list-link {
      color: $nav-child-link-color;

      &.active {
        color: $link-color;
      }
    }

    .nav-list-expander {
      color: $nav-child-link-color;

      // TODO: fix this
      & ~ .active {
        color: $link-color;
      }
    }
  }
}

