$link-color: $green-100;
$btn-primary-color: $green-100;

$mono-font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
$body-line-height: 1.4em;
$content-line-height: 1.6em;